* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: rgb(211, 210, 210);
    margin: 0;
    color: white;
}

header .logo {
    margin: 5px;
    padding: 25px 30px;
    font-weight: bold;
    font-size: 2em;
    font-family:Verdana, Geneva, Tahoma, sans-serif, sans-serif;
    border: solid 1px black;
    border-radius: 20px;
    background-color: black;
    color:white;
    box-shadow: 0px 8px 8px salmon;
}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-bottom: 25px;

}

header a {
    padding: 5px 40px;
    margin: 0px 40px;
    text-decoration: none;
    font-weight: bold;
}

footer {
    font-size: 0.5em;
}

footer .container {
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer nav {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-right: 20px;
    padding-bottom: 25px;
}

footer a {
    margin: 0;
    padding: 0;
}

footer #cop {
    display: flex;
    flex-direction: column;
}

.intro-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 90vh;
    background-image: linear-gradient(0deg, black, black),
    url("Media/asd.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


.about-us .container {
    text-align: center;
    padding: 80px 12px;
}

.intro-services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 70vh;
    background-image: linear-gradient(0deg, black, black),
    url("Media/asd.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

h1 {
    font-size: 3.5em;
}
h2 {
    font-size: 2.7em;
}
h3 {
    font-size: 2em;
}
p {
    font-size: 1.25em;
}

.container {
    max-width: 1400px;
    margin: auto;
}


.w-we-do {
    background: url("Media/image-prog.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: black;
    text-align: center;
    height: 2000px;
    padding: 10px;
}

main .w-we-do {
    background-color: linear-gradient(30dg, rgb(115, 115, 128), rgb(0, 255, 98));
}

.w-we-do .container{
    padding: 20px 12px;
}


.w-we-do h2 {
    margin-top: 0;

}

.w-we-do p {
    display: none;
}

.w-we-do hr {
    border: none;
    padding: 10px;

}

.servicios {
    display: flex;
    flex-direction: column;
}

.w-we-do .card {
    width: 80%;
    height: 30vh;
    margin: 0 auto;
    background-color: #011522;
    border-radius: 8px;
    z-index: 1;
    color: white;

   }
   
   .tools {
    display: flex;
    align-items: center;

   }
   
   .circle {
    padding: 0 4px;
   }
   
   .box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
   }
   
   .red {
    background-color: #ff605c;
   }
   
   .yellow {
    background-color: #ffbd44;
   }
   
   .green {
    background-color: #00ca4e;
   }


button {
    border-radius: .25rem;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    padding-left: 25px;
    padding-right: 25px;
    color: #fff;
    -webkit-clip-path: polygon(0 0,0 0,100% 0,100% 0,100% calc(100% - 15px),calc(100% - 15px) 100%,15px 100%,0 100%);
    clip-path: polygon(0 0,0 0,100% 0,100% 0,100% calc(100% - 15px),calc(100% - 15px) 100%,15px 100%,0 100%);
    height: 40px;
    font-size: 0.7rem;
    line-height: 14px;
    letter-spacing: 1.2px;
    transition: .2s .1s;
    background-image: linear-gradient(90deg,#1c1c1c,#6220fb);
    border: 0 solid;
    overflow: hidden;
  }
  
  button:hover {
    cursor: pointer;
    transition: all .3s ease-in;
    padding-right: 30px;
    padding-left: 30px;
  }

.indice {
    font: inherit;
    background-color: #f0f0f0;
    border: 0;
    color: #242424;
    border-radius: 0.5em;
    font-size: 1.35rem;
    padding: 0.375em 2em;
    font-weight: 600;
    text-shadow: 0 0.0625em 0 #fff;
    box-shadow: inset 0 0.0625em 0 0 #f4f4f4, 0 0.0625em 0 0 #efefef,
      0 0.125em 0 0 #ececec, 0 0.25em 0 0 #e0e0e0, 0 0.3125em 0 0 #dedede,
      0 0.375em 0 0 #dcdcdc, 0 0.425em 0 0 #cacaca, 0 0.425em 0.5em 0 #cecece;
    transition: 0.15s ease;
    cursor: pointer;
  }
.indice:active {
    translate: 0 0.225em;
    box-shadow: inset 0 0.03em 0 0 #f4f4f4, 0 0.03em 0 0 #efefef,
      0 0.0625em 0 0 #ececec, 0 0.125em 0 0 #e0e0e0, 0 0.125em 0 0 #dedede,
      0 0.2em 0 0 #dcdcdc, 0 0.225em 0 0 #cacaca, 0 0.225em 0.375em 0 #cecece;
  }
  